:root {
  --light-blue-color: #415167;
  --accent-color: #c7a17a;
  --dark-blue-color: #232c38;
  --white-color: #ffffff;
  --dark-blue-color: #151d28;
  /* #F9FBFF
#EDF0F5 */
  --light-black-color: #333333;

  /* bth color */
  --bth-color: var(--accent-color);
  /* fonts */

  --main-fonts: "Nunito", sans-serif;
  --secondary-fonts: "Montserrat", sans-serif;
}

body {
  font-family: var(--main-fonts);
  color: var(--dark-blue-color);
}

/* reset */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.title__text {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  color: var(--light-blue-color);
}

.under_title__text {
  font-weight: 900;
  font-size: 30px;
  line-height: calc(24 / 30);
  text-align: center;
  color: var(--light-blue-color);
}

/* side left section  */
.side_section{
    
}


.side_section__title{
    font-weight: 900;
    font-size: 54px;
    line-height:calc(70 / 54) ;
    color: #415167;
}

.side_section__sapn{
    color: var(--white-color);
background-color: var(--accent-color);
}


/* features section */

.features__list {
}

.features__item {
}

.features__title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: #232c38;
  /* хз как цвет назвать */
}

.features__p {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
