.title__text {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  color: var(--light-blue-color);
}

.under_title__text {
  font-weight: 900;
  font-size: 30px;
  line-height: calc(24 / 30);
  text-align: center;
  color: var(--light-blue-color);
}
.side_section__title {
  font-weight: 900;
  font-size: 54px;
  line-height: calc(70 / 54);
  color: #415167;
}

.modal__title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(34 / 24);
  color: #2f281e;
  margin-bottom: 10px;
  margin-left: 40px;
}
