:root {
  --light-blue-color: #415167;
  --accent-color: #c7a17a;
  --dark-blue-color: #232c38;
  --white-color: #ffffff;
  --dark-blue-color: #151d28;
  /* #F9FBFF
  #EDF0F5 */
  --light-black-color: #333333;
  /* bth color */
  --bth-color: var(--accent-color);
  /* fonts */

  --main-fonts: "Nunito", sans-serif;
  --secondary-fonts: "Montserrat", sans-serif;
}
